@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --app-color-primary: #ddaa33;
  --app-color-secondary: #faf6eb;
  --app-color-accent: #8a8a8a;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  background-color: #fafafc;
  font-family: "Roboto", sans-serif;
}

.Container {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

@media (min-width: 768px) {
  .Container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.button {
  @apply bg-primary font-medium text-white transition ease-in-out duration-300 text-sm tracking-wider hover:opacity-70;
  padding: 8.2px 20.5px;
}

.sideBarStyle {
  @apply flex items-center gap-x-3 cursor-pointer py-1 text-xs px-5 font-semibold hover:text-primary;
  color: #3a3a3a;
}

.sideBarStyle.active {
  @apply border-l-2 border-primary py-1 text-primary font-semibold;
}
